body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  transition: all 0.3s ease;
  color: #ffffff;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.3s ease;
  justify-content: center;
  background-color: #333333;
  color: #ffffff;
}

.login-form,
.signup-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #222222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 280px;
  transition: all 0.3s ease;
  height: fit-content;
  color: #ffffff;
}

.login-form {
  z-index: 1;
}

.signup-form {
  z-index: 0;
}

@media (max-width: 768px) {
  .forms-container {
    flex-direction: column;
    width: 100%;
  }

  .login-form,
  .signup-form {
    width: 100%;
    margin-bottom: 20px;
  }
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
  z-index: 1;
}

.login-form input,
.signup-form input,
.login-form button,
.signup-form button,
.signup-form .gender-field label,
.signup-form .custom-gender-input,
.page-title {
  color: #ffffff;
}

.login-form input::placeholder,
.signup-form input::placeholder,
.login-form label,
.signup-form label {
  color: rgba(255, 255, 255, 0.7);
}

.login-form .input-field,
.signup-form .input-field {
  margin-bottom: 15px;
}

.login-page.signup-active .forms-container {
  transform: translateX(-300px);
}

.login-form.form-hidden,
.signup-form.form-hidden {
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.3s ease;
}

.login-form.form-hidden {
  pointer-events: none;
}

.signup-form.form-hidden {
  pointer-events: none;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
