@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #2e3440;
  color: #d8dee9;
  font-family: "Roboto", sans-serif;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b4252;
  color: #e5e9f0;
  transition: all 0.3s ease;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  transition: all 0.3s ease;
  justify-content: center;
  background-color: #3b4252;
}

/* Rest of the CSS code with Nord color scheme */

.login-form,
.signup-form {
  margin-top: 3vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #434c5e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 280px;
  transition: all 0.3s ease;
  height: fit-content;
  color: #e5e9f0;
}

.login-form {
  z-index: 1;
}

.signup-form {
  z-index: 0;
}

@media (max-width: 768px) {
  .forms-container {
    flex-direction: column;
    width: 100%;
  }

  .login-form,
  .signup-form {
    width: 100%;
    margin-bottom: 20px;
  }
}

h2 {
  margin-bottom: 20px;
  color: #e5e9f0;
  z-index: 1;
}

.login-form input,
.signup-form input,
.login-form button,
.signup-form button,
.signup-form .gender-field label,
.signup-form .custom-gender-input,
.page-title {
  color: #e5e9f0;
}

.login-form input::placeholder,
.signup-form input::placeholder,
.login-form label,
.signup-form label {
  color: rgba(229, 233, 240, 0.7);
}

.login-form .input-field,
.signup-form .input-field {
  margin-bottom: 15px;
}

.login-page.signup-active .forms-container {
  transform: translateX(-300px);
}

.login-form.form-hidden,
.signup-form.form-hidden {
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.3s ease;
}

.login-form.form-hidden {
  pointer-events: none;
}

.signup-form.form-hidden {
  pointer-events: none;
}

.page-title {
  font-size: 72px;
  font-weight: bold;
  color: #e5e9f0;
  margin-bottom: 20px;
}

.signup-form .gender-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
  align-self: flex-start;
}
